{% extends "event/base.html" %}

{% block title %}Log in{% endblock %}

{% load crispy_forms_tags %}
{% block menu %}
    <div class="col d-flex">
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3">
                <a class="nav-link text-white" href="{% url 'index' %}"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'events' %}">Eventi</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="position-fixed top-50 start-50 translate-middle w-100">
        <div class="mx-auto" style="max-width: 400px;">
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ request.GET.next|default:'' }}">
                <button class="btn btn-success w-100" type="submit">Log in</button>
                <p class="mt-3 text-center">Non hai un account? Creane uno <a href="{% url 'register' %}">qua</a></p>
            </form>
        </div>
    </div>
{% endblock %}
